$main-green:#A2C616;
$main-blue:#003C6F;
$main-blue-light:#0085C9;

$bg_grey_light:#f7f7f7;

$border-grey: #eee;

$txt_black:#141414;
$txt_grey: #666666;

$color-danger:#d9534f;
$color-orange:#f38f19;

$main-radius:5px;
$div-radius:15px;