@media screen and (min-width: 1199px) {
  #wrapper {
    .navbar-fixed-top {
      top: 0 ;
    }

    #left-sidebar {
      left: 0 ;
    }
  }
}

.table-userList {
  td {
    min-width: 95px;

    a {
      color: $color-warning;


    }
    .btn {
      color: $col-white !important;
    }
  }
}

